<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="container_fluid pt-3">



    <div class="page_title_sec">
      <h2 class="sub_title">
        <mat-icon class="v-align-middle display">alarm</mat-icon>
        <span class="v-align-middle">Overall Alarm History</span>
      </h2>
      <div class="table_search">
        <input class="form-control" (keyup)="doFilter($event.target.value)" type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
      </div>
    </div>

    <mat-card class="card_sec">
      <mat-card-content class="table_responsive">
        <table class="row" mat-table [dataSource]="dataSource" class="mat-elevation-z0">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let i=index;"> {{i+1}} </td>

          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="machine">
            <th mat-header-cell *matHeaderCellDef> Machine </th>
            <td mat-cell *matCellDef="let element"> {{element.L0Name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="alarmtype">
            <th mat-header-cell *matHeaderCellDef> Alarm Type </th>
            <td mat-cell *matCellDef="let element"> {{element.type}} - {{element.message}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="axis">
            <th mat-header-cell *matHeaderCellDef> Axis Number </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.enddate |  date:'dd-MM-yyyy'}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Time </th>
            <td mat-cell *matCellDef="let element"> {{element.timespan}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="total_count" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent($event)">
        </mat-paginator>
      </mat-card-content>
    </mat-card>


  </div>
</section>


<!-- {{element.position+pageSize*(pageIndex-1)}} -->
