table {
    width: 100%;
  }
  .custom-class mat-icon {
    vertical-align: middle;
width:20px; }
 
 /** or using the class .mat-icon */
 .custom-class .mat-icon {
    vertical-align: middle;
 }
.row
{
  height:50%;
}
.spinner {
  background: #262932;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 999;
}

.spinner img {
  width: 90px;
  margin-top: -130px;
}
