<section class=" page register_page">
    <div class="register_sec">
        <mat-card class="form_inner">
            <mat-card-content>
                <div class="brand_logo">
                    <img src="assets/images/logo.jpg">
                </div>
                <p class="mb-16">Register to continue with Yantra24x7 </p>
                <form [formGroup]="login" (ngSubmit)="logintest(login.value)" class="register_form">
                    <div class="register_row_sec">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="first_name" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="last_name" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email Id</mat-label>
                            <input matInput formControlName="email_id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a" type="email" required>
                        </mat-form-field>
                        <mat-error *ngIf="login.get('email_id').hasError('email')"> Enter valid email address
                        </mat-error>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" type="password" required>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="phone_number" maxlength="10" minlength="10"
                                (keypress)="keyPress($event)" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Company Name</mat-label>
                            <textarea matInput formControlName="tenant_name" type="text" required></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address Line1</mat-label>
                            <textarea matInput formControlName="address_line1" type="text" required></textarea>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Address Line2</mat-label>
                            <textarea matInput formControlName="address_line2" type="text" required></textarea>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label> About Company</mat-label>
                            <input matInput formControlName="remarks" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>City</mat-label>
                            <input matInput formControlName="city" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label> State</mat-label>
                            <input matInput formControlName="state" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Country</mat-label>
                            <input matInput formControlName="country" type="text" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Pincode</mat-label>
                            <input matInput formControlName="pincode" maxlength="6" minlength="6"
                                (keypress)="keyPress($event)" type="text" required>
                        </mat-form-field>
                    </div>
                    <span class="agree_link">
                        <input formControlName="isactive" type="checkbox" id="my-check" (change)="onChange($event)"
                            [checked]="checkModel" required />
                        <mat-label for="my-check">Agree the terms and policy</mat-label>
                    </span>
                    <div class="form-btn">
                        <button mat-raised-button [disabled]="login.invalid" class="Submit">Register</button>
                    </div>
                </form>
                <mat-card-footer>
                    <p class="help_msg">Already have an account?
                        <a [routerLink]="['/']" class="sign_link">Login</a></p>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
    </div>
</section>