.row_sec{
    display: flex;
        flex-wrap: wrap;
        border: 1px solid #d5dae0;
    padding: 5px;
    .mat-form-field {
        width: 48%;
        &:nth-child(odd){
            margin-right: 16px;
        }
        }
    }

    .cards_collections {
    display: flex;
    margin-top: 24px;
  
    .px-16 {
      padding: 0 10px;
      width: calc(100% /4);
  
      &.pl-0 {
        padding-left: 0;
      }
  
      &.pr-0 {
        padding-right: 0;
      }
    }
  
    .example-card {
      position: relative;
  
      h2 {
        margin-top: 30px;
        font-weight: 400;
        color: #A8A8A8;
        font-size: 1.3rem;
        text-align: center;
        margin-bottom: 0;
        // min-height: 50px;
        // height: 52px;
        // overflow: hidden;
      }
  
      h3 {
        color: #898888 !important;
        margin-bottom: 18px;
        text-align: center;
        margin-top: 8px;
      }
  
      .action_menus {
        position: absolute;
        top: 16px;
        right: 16px;
        background: #f7941e;
        color: #fff;

        .menu_open {
          cursor: pointer;
        }
      }
  
      .actions {
        button {
          display: flex;
          align-items: center;
          cursor: pointer;
  
          .material-icons {
            padding-right: 5px;
            color: #9e9e9e;
          }
        }
      }
  
      .content {
        .count {
          width: 40px;
          height: 40px;
          margin: 0 auto;
          background: #f7941e;
          border-radius: 50%;
          color: #fff;
          text-align: center;
          line-height: 40px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
  
        .full_date {
          text-align: center;
  
          p {
            color: #c7c7c7;
            margin: 5px 0;
            font-size: 16px;
  
            span {
              text-transform: uppercase;
              font-size: 16px;
              color: #8c8a8a;
            }
  
          }
  
        }
  
        .switch_holder {
  
          // border-top: 1px solid #ddd;
          // margin-top: 20px;
          // padding: 10px 0;
          // display: flex;
          // align-items: center;
          // justify-content: space-between;
          .status {
            line-height: 25px;
            color: #c7c7c7;
            font-size: 11px;
          }
  
          //   .actions{
          //     float: right;
          //     mat-icon{
          //       font-size: 24px;
          //       cursor: pointer;
          //       &.edit{
          //         color: #c1c1c1;
          //       }
          //       &.setting{
          //         color: #909090;
          //       }
          //       &.delete{
          //         color: #e03434;
  
          //       }
          // }
  
          // }
        }
      }
    }
  }
  
  .single_card {
    width: 74%;
    height:90%;
    margin: 6px;
}

.cards_collections {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
  // setting modal style
  
  .filter_sec {
    .setting_sec {
      display: flex;
      align-items: center;
      // .dialog-form{
      //   overflow-y: scroll;
      //   min-height: 493px!important;
      //   height: 400px;
      //   }
    }
  }
  
  // responsive
  @media (max-width: 768) {
    .cards_collections {
      .example-card {
        h2 {
          margin-top: 20px;
          font-size: 1.1rem;
          line-height: 20px;
        }
      }
    }
  }