<section class="page">
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
  <div class="container_fluid pt-3">
    <div class="page_title_sec">
      <h2 class="sub_title">
        <mat-icon class="v-align-middle display">timelapse </mat-icon>
        <span class="v-align-middle">OEE</span>
      </h2>
        <div class="add_new">
          <mat-icon class="circle" (click)="openDialog()">add</mat-icon>
        </div>
     <!--  <div class="table_search">
        <input class="form-control" (keyup)="doFilter($event.target.value)" type="text" name="search" [(ngModel)]="searchText" placeholder="Search">
      </div> -->
    </div>

    <mat-card class="card_sec">
      <mat-card-content class="table_responsive">
        <table class="row" mat-table [dataSource]="dataSource" class="mat-elevation-z0">

          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let i=index;"> {{i+1}} </td>

          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="machine">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="alarmtype">
            <th mat-header-cell *matHeaderCellDef> Machine Name </th>
            <td mat-cell *matCellDef="let element"> {{element.machine_name}}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="axis">
            <th mat-header-cell *matHeaderCellDef> Shift Number </th>
            <td mat-cell *matCellDef="let element"> {{element.shift_num}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Availability </th>
            <td mat-cell *matCellDef="let element"> {{element.availability || '---'}} </td>
          </ng-container>


          <!-- Symbol Column -->
          <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Performance </th>
            <td mat-cell *matCellDef="let element"> {{element.performance || '---'}} </td>
          </ng-container>

          <ng-container matColumnDef="quality">
            <th mat-header-cell *matHeaderCellDef> Quality </th>
            <td mat-cell *matCellDef="let element"> {{element.quality || '---'}} </td>
          </ng-container>


          <ng-container matColumnDef="target">
            <th mat-header-cell *matHeaderCellDef> Target </th>
            <td mat-cell *matCellDef="let element"> {{element.target}} </td>
          </ng-container>

           <ng-container matColumnDef="action">
              <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="table_action">
                <button mat-icon-button matTooltip="Edit User" (click)="shift_edit(element, element.id.$oid)"
                  matTooltipPosition="right">
                  <i class="material-icons">
                    edit
                  </i>
                </button>
                <button mat-icon-button matTooltip="Delete User" (click)="user_delete(element.id.$oid)"
                  matTooltipPosition="right">
                  <i class="material-icons">
                    delete
                  </i>
                </button>
              </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
      </mat-card-content>
    </mat-card>


  </div>
</section>


<!-- {{element.position+pageSize*(pageIndex-1)}} -->
