<section class="page">
  <div class="row">
    <div class="col-lg-2 col-md-4 sidenav">
      <!-- two_machines -->
      <!-- <div class="machine_list scroll two_machines">
        <h3>Total Machines (2)</h3>
        <div *ngFor="let machine1 of list_machine?.first" class="machine" [class.idle]="machine1.status === 'STOP'"
          [class.running]="machine1.status === 'OPERATE'" [class.no-data]="machine1.status === 'DISCONNECT'">
          <label>{{machine1.name}}</label>
            <h2>{{machine1.utlization}}%</h2>
            <span>Machine Utilized</span>
        </div>
      </div> -->

      <!-- two_more_machines -->
        <div class="machine_list scroll two_more_machines">
        <h3>Total Machines:{{count_machine?.total_count}}</h3>
        <div class="machine disconnect" *ngFor="let machine1 of list_machine?.first" [class.idle]="machine1.status === 'STOP'" [class.running]="machine1.status === 'OPERATE'" [class.no-data]="machine1.status === 'DISCONNECT'">
          <label>{{machine1.name}}</label>
          <span>Machine Utilized</span>
          <h2>{{machine1.utlization}}%</h2>
        </div>
        <!-- <div class="machine idle">
          <label>Machine 1</label>
          <span>Utilized</span>
          <h2>00%</h2>
        </div>
        <div class="machine running">
          <label>Machine 3</label>
          <span>Utilized</span>
          <h2>00%</h2>
        </div>
        <div class="machine stopped">
          <label>Machine 4</label>
          <span>Utilized</span>
          <h2>00%</h2>
        </div> -->
      </div>

       <!-- high_machines -->
       <!--  <div class="machine_list scroll high_machines">
        <h3>Total Machines (20)</h3>
        <div class="machine no-data">
          <label>Machine 1</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 2</label>
          <h2>00%</h2>
        </div>
        <div class="machine idle">
          <label>Machine 3</label>
          <h2>00%</h2>
        </div>
        <div class="machine stopped">
          <label>Machine 4</label>
          <h2>00%</h2>
        </div>
        <div class="machine running">
          <label>Machine 5</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 6</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 7</label>
          <h2>00%</h2>
        </div>
        <div class="machine idle">
          <label>Machine 8</label>
          <h2>00%</h2>
        </div>
        <div class="machine stopped">
          <label>Machine 9</label>
          <h2>00%</h2>
        </div>
        <div class="machine running">
          <label>Machine 10</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 11</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 12</label>
          <h2>00%</h2>
        </div>
        <div class="machine idle">
          <label>Machine 13</label>
          <h2>00%</h2>
        </div>
        <div class="machine stopped">
          <label>Machine 14</label>
          <h2>00%</h2>
        </div>
        <div class="machine running">
          <label>Machine 15</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 16</label>
          <h2>00%</h2>
        </div>
        <div class="machine no-data">
          <label>Machine 17</label>
          <h2>00%</h2>
        </div>
        <div class="machine idle">
          <label>Machine 18</label>
          <h2>00%</h2>
        </div>
        <div class="machine stopped">
          <label>Machine 19</label>
          <h2>00%</h2>
        </div>
        <div class="machine running">
          <label>Machine 20</label>
          <h2>00%</h2>
        </div>
        </div>  --> 
    </div>
    <div class="col-lg-10 col-md-8 content-inner sec_padding">
      <div class="page_sec_title">
        <h1>Dashboard</h1>
        <ul class="list-unstyled">
          <li>
            <span>Date:</span>
            {{today | date:'dd-MM-yyyy'}}
          </li>
          <li >
            <span>Time:</span>
                {{today | date:'h:mm:ss a'}}
          </li>
        </ul>
      </div>
      <div class="row inner_sec">
        <div class="col-lg-6 col-md-12 mb-2">
      <div class="pie_chart">
        <!-- <h3 class="figure-title">overall Machine Status</h3> -->
            <figure class="highcharts-figure_pie">
              <div id="container"></div>
            </figure>
              <ul class="list-unstyled pie_charts_utilizations my-3">
                <li>
                  <label> Running</label>
                 
                      <progress class="progress-bar running" max="100" value={{list_machine?.third[0][1]}}>
                        <strong>Skill Level: 75%</strong>
                      </progress>
                   
                  <span>{{list_machine?.third[0][1]}}%</span>
                </li>
                <!-- <li>
                  <label> Stopped</label>
                   <div class="progress">
                    <div class="progress-bar stopped"></div>
                  </div>
                  <span>{{list_machine?.third[0][2]}}%</span>
                </li> -->

               
                <li>
                  <label> Stop</label>
              <progress class="progress-bar idle" max="100" value={{list_machine?.third[1][1]}}>
                    <strong>Skill Level: 75%</strong>
                  </progress>
                  <span>{{list_machine?.third[1][1]}}%</span>
                </li>
                <li>
                  <label> Disconnect</label>
             <progress class="progress-bar no-data" max="100" value={{list_machine?.third[2][1]}}>
                    <strong>Skill Level: 75%</strong>
                  </progress>
                  <span>{{list_machine?.third[2][1]}}%</span>
                </li>
             
                <!-- <li>
                  <label> <img src="../assets/images/running.png">Operate</label>
                  <span>{{list_machine?.third[0][1]}}%</span>
                </li> -->
                <!-- <li>
                  <img src="../assets/images/stop.png">
                  <label>Stopped</label>
                  <span>15%</span>
                </li> -->
                <!-- <li>
                  <label><img src="../assets/images/idle.png">Stop</label>
                  <span>{{list_machine?.third[1][1]}}%</span>
                </li>
                <li>
                  <label><img src="../assets/images/ic_nodata.png">Disconnect</label>
                  <span>{{list_machine?.third[2][1]}}%</span>
                </li> -->
              </ul>
           
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="stack_chart">
      <figure class="highcharts-figure_col">
        <div id="container2"></div>
      </figure>
      </div>
      </div>
    </div>
    </div>
  </div>
</section>

<div *ngIf="myLoader" class="spinner">
  <img src="assets/images/spinner.gif">
</div>