<section class="page">

    <div class="container_fluid pt-3">
        <div class="col">
            <!-- <h2 class="sub_title">
                    <mat-icon class="v-align-middle display">laptop</mat-icon>
                    <span class="v-align-middle">Report</span>
                </h2> -->

            <form [formGroup]="form" (ngSubmit)="formtest('true')">
                <div class="filter_sec mt-10">
                    <div class="filter_fields">
                        <div class="filter_field">
                            <!--have commmented out conditions feel free to use them again *ngIf="type == 'ShiftWise'" -->
                            <mat-form-field appearance="outline">
                                <mat-select (change)="onSelect($event.target.value)" matNativeControl required
                                    formControlName="machine_name">
                                    <mat-option value="all">All</mat-option>

                                    <mat-option *ngFor="let machine of machine_response" [value]="machine">

                                        {{machine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="filter_field">
                            <mat-form-field appearance="outline">
                                <mat-select matNativeControl required formControlName="shift_num">
                                    <mat-option value="all">All</mat-option>
                                    <mat-option *ngFor="let b of shift_response" [value]="b.shift_no">
                                        <!-- {{first_loading.shift_num}} -->
                                        {{b.shift_no}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="filter_field date_picker" color="primary">
                            <!-- <label>Select Date</label> -->
                            <!-- <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker> -->
                            <ejs-daterangepicker (click)="daterangepicker.open()" formControlName="date">
                                <e-presets>
                                    <e-preset label="This Week" [start]='weekStart' [end]='weekEnd'></e-preset>
                                    <e-preset label="This Month" [start]='monthStart' [end]='monthEnd'></e-preset>
                                    <e-preset label="Last Month" [start]='lastStart' [end]='lastEnd'></e-preset>
                                    <e-preset label="Last Year" [start]='yearStart' [end]='yearEnd'></e-preset>
                                </e-presets>
                            </ejs-daterangepicker>
                        </div>

                    </div>
                    <button [disabled]="form.invalid" type="submit" color="primary" mat-raised-button>Submit</button>
                </div>
            </form>

            <mat-card class="card_sec mt-3">
                <div class="row">
                    <div class="col-md-3" style="display:none">
                        <figure class="highcharts-figure-pie">
                            <div id="pie2"></div>
                        </figure>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="two_row">
                            <div class="col-md-6 col-sm-12">
                                <ul class="pie_charts_utilizations">
                                    <li>
                                        <label> <img src="../assets/images/running.png">Operate</label>
                                        <span>{{get_percent?.run_time}}%</span>
                                    </li>

                                    <li>
                                        <label><img src="../assets/images/idle.png">Stop</label>
                                        <span>{{get_percent?.idle_time}}%</span>
                                    </li>
                                    <li>
                                        <label><img src="../assets/images/ic_nodata.png">Disconnect</label>
                                        <span>{{get_percent?.disconnect_time}}%</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col pie-vh">
                                <figure class="highcharts-figure">
                                    <div id="comparepie2"></div>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="example-container mat-elevation-z0">
                            <table mat-table [dataSource]="dataSource">

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef> # </th>
                                    <td mat-cell *matCellDef="let i=index;"> {{i+1}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Machine Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.machine_name}} </td>
                                </ng-container>

                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                </ng-container>

                                <ng-container matColumnDef="shift_num">
                                    <th mat-header-cell *matHeaderCellDef> Shift No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.shift_num}} </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef> Parts Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.part_name}} </td>
                                </ng-container>

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef> Utilization </th>
                                    <td mat-cell *matCellDef="let element"> {{element.utilisation}} </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container matColumnDef="run_time">
                                    <th mat-header-cell *matHeaderCellDef> Run Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.run_time}} </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container matColumnDef="idle_time">
                                    <th mat-header-cell *matHeaderCellDef> Idle Time </th>
                                    <td mat-cell *matCellDef="let element"> {{element.idle_time}} </td>
                                </ng-container>


                                <!-- Weight Column -->
                                <ng-container matColumnDef="disconnect">
                                    <th mat-header-cell *matHeaderCellDef> Disconnect </th>
                                    <td mat-cell *matCellDef="let element"> {{element.disconnect}} </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="myLoader" class="spinner">
            <img src="assets/images/spinner.gif">
        </div>
    </div>
</section>