<div class="tv_screen">
     <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
    <div class="machine_Container">
        <div *ngFor="let list of oee" [class.idle]="list.status === 'STOP'" [class.running]="list.status === 'OPERATE'" [class.no-data]="list.status === 'DISCONNECT'" class="machine_prod running">
            <h3>{{list?.machine}}</h3>
            <div class="circle_progress_wrapper"> 
               <circle-progress percent={{list?.oee}} radius="65" outerStrokeColor="#1EAD55" innerStrokeColor="#21402D" animation="true" animationDuration="300" *ngIf="list.status === 'OPERATE'"></circle-progress> 
               <circle-progress percent={{list?.oee}} radius="65" outerStrokeColor="#E8A24A" innerStrokeColor="#21402D" animation="true" animationDuration="300" *ngIf="list.status === 'STOP'"></circle-progress> 
               <circle-progress percent={{list?.oee}} radius="65" outerStrokeColor="#6D6D6D" innerStrokeColor="#21402D" animation="true" animationDuration="300" *ngIf="list.status === 'DISCONNECT'"></circle-progress> 
            </div>
            <div class="add_info" >
                <div class="info_wrapper">
                    <h4>{{list?.quality}}%</h4>
                    <label>Quality</label>
                </div>
                <div class="info_wrapper">
                    <h4>{{list.perfomance}}%</h4>
                    <label>Performance</label>
                </div>
                <div class="info_wrapper">
                    <h4>{{list.availability}}%</h4>
                    <label>Availability</label>
                </div>
            </div>
        </div>
       </div>
</div>