.login_page{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../../../assets/images/bg_login.jpg) no-repeat;
    min-height: auto;
    padding-bottom: 0;
    background-size: cover;
    .login_sec{
        max-width: 100%;
        width: 300px;
        height: auto;
            padding: 20px 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .form_inner{
                padding: 30px;
                background: #fff;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
                border-radius: 0;
            .brand_logo{
                text-align: center;
                img{
                max-width: 100%;
                width: 187px;
                height: 48px;
                object-fit: contain;
                object-position: center;
            }
        }
        p{
            font-size: 17px;
            font-weight: 300;
            color: #aaa;
            margin-bottom: 0;
            text-align: center;
            line-height: 26px;
            margin-top: 5px;
            &.mb_space{
                margin-bottom: 16px!important;
            }
        }
        .login_form{
            mat-form-field{
                width: 100%;
                font-size: 16px;
                margin-bottom: 1rem;
            }
            .form-btn{
                button{
                   
                    background-color: #ec6e17;
                    border-color: #ec6e17;
                    border: 1px solid transparent;
                    padding: 0.375rem 0.75rem;
                    font-size: 15px;
                    line-height: 1.5;
                    border-radius: 0.25rem;
                    width: 100%;
                }
            }
            mat-icon {
                cursor: pointer!important;
            }
            
        }
        
        a{
            color: #43a7fd;
            text-decoration: none;
            font-size: 16px;
            display: block;
            margin: 16px 0;
            padding-left: 5px;
            text-align: center;
            cursor: pointer;
            &.sign_link{
                margin: 0 5px;
            }
                }
        .help_msg{
            display: flex;
            justify-content: center;
            border-top: 1px solid #ececec;
            padding-top: 16px;
        }
    }
}
}

::ng-deep .mat-form-field-appearance-legacy {
    .mat-form-field-underline {
        height: 1px;
        position: initial;
    }
}

.modal_sec {
    .form-button{
        &.text-right {
            text-align: right;
            margin-top: 20px;
        }
    }
}
.Submit{
    color:white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color:#f79220 !important;
    // border-color: #ddd !important;
   }
   ::ng-deep .mat-focused .mat-form-field-infix{
    // border-color: #ddd !important; 
   }
  
//    ::ng-deep.mat-form-field-underline {
//     /*change color of underline*/
//     background-color:#ccc !important;
//   }