<section class="login_page">
  <div class="login_sec">
    <mat-card class="form_inner">
      <mat-card-content>
        <div class="brand_logo">
          <img src="assets/images/logo.jpg">
        </div>
        <p class="mb_space"> Sign in continue with Yantra24x7</p>

        <form [formGroup]="login" (ngSubmit)="logintest(login.value)" autocomplete="off" class="login_form">
          <mat-form-field class="form">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="email" placeholder="Email" type="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-reflect-pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a"
              required>
              <mat-error *ngIf="login.controls['email'].errors?.required">Please enter your username
                </mat-error>
          </mat-form-field>
          <mat-form-field class="form">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" placeholder="Password" [type]=" hide ? 'password' : 'text'"
              required>
            <mat-icon class="eye" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="login.controls['password'].errors?.required">Please enter your password
              </mat-error>
          </mat-form-field>
          <div class="form-btn">
            <button mat-raised-button class="Submit" color="primary">Login</button>
          </div>
        </form>
        <a >Forgot Password?</a>
        <mat-card-footer>
          <p class="help_msg">Do you have an account?
            <a [routerLink]="['/register']" class="sign_link">Signup</a></p>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </div>
</section>