<div class="modal_sec">
    <mat-toolbar>
        <h3>Shift Registaration</h3>
        <button type="button" class="close" aria-label="Close" mat-dialog-close>
            <span aria-hidden="true">×</span>
        </button>
    </mat-toolbar>
    <div class="dialog-form">
        <div class="filter_sec">
            <form [formGroup]="shiftForm" (ngSubmit)="submit()" class="form_sec">
                <!-- <mat-form-field> -->
                    <mat-label>Shift Start Time</mat-label>
                    <!-- <input matInput formControlName="start_time" type="text"> -->
                    <ngx-timepicker-field formControlName="start_time" [controlOnly]="true"></ngx-timepicker-field>
                <!-- </mat-form-field> -->

                <!-- <mat-form-field> -->
                    <mat-label>Shift End Time </mat-label>
                    <!-- <input matInput formControlName="end_time" type="text"> -->
                    <ngx-timepicker-field formControlName="end_time" [controlOnly]="true"></ngx-timepicker-field>
                <!-- </mat-form-field> -->

                <mat-form-field>
                    <mat-label>Shift Number</mat-label>
                    <input matInput formControlName="shift_no" type="text">
                    <mat-error *ngIf="shiftForm.controls['shift_no'].errors?.required">Shift Number is Required
                        </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Start Day</mat-label>
                    <mat-select formControlName="start_day">
                        <mat-option disabled value="">Select Start Day</mat-option>
                        <mat-option value="1">Day 1</mat-option>
                        <mat-option value="2">Day 2</mat-option>
                    </mat-select>
                    <mat-error *ngIf="shiftForm.controls['start_day'].errors?.required">Start Day is Required
                        </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>End Day</mat-label>
                    <mat-select formControlName="end_day">
                        <mat-option disabled value="">Select End Day</mat-option>
                        <mat-option value="1">Day 1</mat-option>
                        <mat-option value="2">Day 2</mat-option>
                    </mat-select>
                    <mat-error *ngIf="shiftForm.controls['end_day'].errors?.required">End Day is Required
                        </mat-error>
                </mat-form-field>
                <div class="form-button text-right">
                    <button mat-raised-button type="submit" class="filter_btn btn_orange"> Save</button>
                    <button mat-raised-button mat-dialog-close class="filter_btn btn_default ml-16">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>