.shift_sec {
    display: flex;
    .col{
        width: calc(100% /1);
        &:first-child{
            margin-right: 20px;
        }
    }
    .shift_card{
        padding: 15px;
        margin-bottom: 15px;
        background: #f7941e;
        text-align: center;
        color: #fff;
        position: relative;
    .shift{
        .edit{
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
        .play_circle{
            i{
                font-size: 100px;
            }
        }
        h2{
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        h3{
            font-size: 90px;
            font-weight: 100;
            margin: 0;
        }
        .status_icon{
            display: flex;
            justify-content: space-around;
            .status{
                width: calc(100% /1);
                &:first-child{
                    border-right: 1px solid #ccc;
                }
                span{
                    color: #292929;
                    font-size: 24px;
                }
                p{
                    margin-top: 0px;
                    color: #292929;
                
            }
            }
         
        }

    }
}
}


// responsive
@media (max-width: 600px){
    .shift_sec {
        flex-wrap: wrap;
        .col{
            &:first-child{
                margin-right: 0;
            }
        }
        .shift_card{
        .shift{
            .play_circle{
                i{
                    font-size: 70px;
                }
            }
            h2{
                font-size: 18px;
                margin-bottom: 0;
            }
            h3{
                font-size: 20px;
                margin: 5px;
            }
            .status_icon{
                .status{
                    width: calc(100% /1);
                    padding: 5px;
                    span{
                        font-size: 14px;
                    }
                    p{
                        margin-top: 0px;
                }
                }
             
            }
    
        }
    }
    }


}

//responsive
@media (max-width: 768px){
    .shift_sec {
        flex-wrap: wrap;
        .col{
            &:first-child{
                margin-right: 0;
            }
        }
        .shift_card{
            .shift{
                .play_circle{
                    i{
                        font-size: 70px;
                    }
                }
                h2{
                    font-size: 20px;
                    margin: 0;
                }
                h3{
                    font-size: 40px;
                    margin: 5px;
                }
                .status_icon{
                    .status{
                        width: calc(100% /1);
                        padding: 5px;
                        span{
                            font-size: 14px;
                        }
                        p{
                            margin-top: 0px;
                    }
                    }
                 
                }
        
            }
        }
    }
}