<section class="page">
  <div class="section_top_padding">
    <div class="container-fluid">
      <div class="page_title_sec">
        <h2 class="sub_title">
          <mat-icon class="v-align-middle display">alarm</mat-icon>
          <span class="v-align-middle">Operator Registration</span>
        </h2>
        <div class="add_new ">
          <mat-icon class="circle" (click)="openDialog()">add</mat-icon>
        </div>
      </div>
      <mat-card class="card_sec">
        <mat-card-content class="table_responsive">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Operator Name </th>
              <td mat-cell *matCellDef="let element"> {{element.operator_name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Operator Id </th>
              <td mat-cell *matCellDef="let element"> {{element.operator_spec_id}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="desc">
              <th mat-header-cell *matHeaderCellDef> Others </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>


            <ng-container matColumnDef="action">
              <!-- <mat-header-cell *matHeaderCellDef> Action </mat-header-cell> -->
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="table_action">
                <button mat-icon-button matTooltip="Edit User" (click)="operator_edit(element, element.id.$oid)"
                  matTooltipPosition="right">
                  <i class="material-icons">
                    edit
                  </i>
                </button>
                <button mat-icon-button matTooltip="Delete User" (click)="operator_delete(element.id.$oid)"
                  matTooltipPosition="right">
                  <i class="material-icons">
                    delete
                  </i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="myLoader" class="spinner">
    <img src="assets/images/spinner.gif">
  </div>
</section>